header {
    min-width: 150px;
    height: 150px;
}

.logo {
    width: 120px;
    height: 103px;
}

ul.tabs li{
	width: 25%;
    height: 60px;
}

ul.tabs li a{
    height: 60px;
    font-size: 1.5rem;
	padding: 22px 0px;
}

.secciones article{
	display: flex;
    flex-wrap: wrap;
}

.moto-card {
    width: 340px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.moto-card .moto-card--marca {
    width: 100px;
    height: 35px;
    padding-top: 10px;
    font-size: 1.4rem;
}

.moto-card--img {
    width: 80%;
    height: 200px;
    position: absolute;
    top: 30px;
    left: 25px;
    z-index: 3;
}

.moto-card--description {
    width: 100%;
    height: 210px;
    position: absolute;
    top: 190px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--orange);
    padding-top: 70px;
    z-index: 2;
}

.model {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.3rem;
}

.moto-card--description .price {
    margin: 0 auto;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 500;
}

.moto-card--button button {
    width: 145px;
    height: 40px;
    background-color: #faf8f7;
    border-radius: 5px;
    border-style: none;
    border: solid 2px var(--orange);
    box-shadow: 0px 8px 16px rgba(89, 73, 30, 0.16);
    margin: 0 auto;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


.moto-card--button button span {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.urbana2 {
    width: 75%;
    height: 180px;
    top: 50px;
    left: 40px;
}

.urbana3 {
    width: 70%;
    height: 150px;
    top: 70px;
    left: 50px;
}

.urbana4 {
    width: 75%;
    height: 190px;
    top: 55px;
    left: 40px;
}

.urbana5 {
    width: 90%;
    height: 220px;
    top: 40px;
    left: 20px;
}

.urbana6 {
    width: 65%;
    height: 190px;
    top: 55px;
    left: 55px;
}

.deportiva1 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 55px;
}

.deportiva2 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 65px;
}

.deportiva3 {
    width: 55%;
    height: 180px;
    top: 50px;
    left: 70px;
}

.deportiva4 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.deportiva5 {
    width: 60%;
    height: 180px;
    top: 45px;
    left: 60px;
}

.deportiva6 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 60px;
}

.automatica1 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.automatica2 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.automatica3 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.automatica4 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.automatica5 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 65px;
}

.automatica6 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.altagama1 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 55px;
}

.altagama2 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 60px;
}

.altagama3 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 65px;
}

.altagama4 {
    width: 60%;
    height: 180px;
    top: 50px;
    left: 55px;
}

.altagama5 {
    width: 60%;
    height: 180px;
    top: 55px;
    left: 60px;
}

.altagama6 {
    width: 60%;
    height: 180px;
    top: 60px;
    left: 60px;
}

.container-1 {
    width: 10%;
    min-width: 10%;
}

.container-2 {
    width: 20%;
    min-width: 20%;
    max-width: 100px;
    height: 350px;
}

.container-2--images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.image-1 {
    width: 174px;
    height: 148px;
    margin: 0 auto;
    margin-left: 0;
}

.image-2 {
    width: 115px;
    height: 86px;
    margin: 0 auto;
    margin-left: 0;
}

.red-1 {
    width: 30px;
    height: 30px;
}

.red-2 {
    width: 35px;
    height: 30px;
}

.red-3 {
    width: 35px;
    height: 25px;
}

.footer_final p {
    margin: 0;
    font-size: 1.1rem;
}

