* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #F2AF29;
    --warm-black: #282623;
    --black: #201e1c;
    --dark-black: #000000;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;

}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    min-height: 100px;
    height: 100px;
    background: var(--dark-black);
    border-bottom: solid 4px var(--orange);
}

.logo {
    width: 101px;
    height: 84px;
    background-image: url("../images/logo_auteco.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-right: 20px;
}

.sm-wrapper {
    margin-top: 100px;
}

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2AF29;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidemenu a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: auto 0;
    transition: 0.3s;
}

.sidemenu p {
    margin-bottom: 30px;
    margin-left: 20px;
    height: 30px;
}

.sidemenu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5rem;
    margin-left: 20px;
}

.sm-wrapper a::after {
    z-index: -1;
    position: absolute;
    left: 0%;
    width: 0;
    height: 30px;
    background: var(--dark-black);
    content: '';
    transition: width 0.35s ease-in-out;
}

.sm-wrapper a:hover::after {
    width: 10%;
}

.sm-wrapper a:hover {
    padding-left: 64px;
    color: white;
    transition: 0.35s ease-in-out;
}

#pg-content {
    transition: margin-left 0.5s;
    padding: 0px;
    width: 70px;
    margin-left: 20px;
}

main {
    width: 100%;
    height: auto;
}

.main_who {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    border-bottom: solid 4px var(--orange);
}

.main_who_container1 {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 15px;
}

.main_who_container2 {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main_history {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    display: inline-block;
    background-color: var(--dark-black);
    color: white;
    border-bottom: solid 4px var(--orange);
}

.main_history--text {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.main_history--text h1 {
    color: var(--orange);
}

.slider {
    width: 220px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: 0 0.5rem 0.8rem 0 #F2AF29;
}

.slider input[type="radio"] {
    display: none;
}
  
.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease-in;
    outline: 1px solid transparent;
}
  
.slider input[type="radio"]:checked ~ img {
    transform: scale(1);
    opacity: 1;
}

.slider input[type="radio"] + label {
    position: relative;
    z-index: 100;
    margin: 10px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #000;
    background-color: hsla(0, 0%, 100%, 1);
    z-index: 1;
}

.slider input[type="radio"]:checked + label {
    box-shadow: 0 0 0 2px #000,
                0 0 0 2px #fff inset;
    background-color: #F2AF29;
}
  
label:hover {
    cursor: pointer;
}

.main_filosofy {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    display: inline-block;
    border-bottom: solid 4px var(--orange);
}

.main_filosofy--text {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.main_filosofy--img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../images/everest_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_proposito {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    display: inline-block;
    background-color: var(--dark-black);
    color: white;
    border-bottom: solid 4px var(--orange);
}

.main_proposito--text {
    width: 100%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main_proposito--text h1 {
    color: var(--orange);
}

.main_negocio {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    border-bottom: solid 4px var(--orange);
}

.negocio--img {
    min-width: 120px;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background-image: url("../images/estrategia-de-negocio-tvs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer_information {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 30px;
    background-color: var(--black);
    border-bottom: solid 4px var(--orange);
}

.information-container {
    width: 100%;
    height: auto;
    display: inline-block;
}

.container-1 {
    width: 90%;
    min-width: 90%;
    max-width: 300px;
    height: 144px;
    margin: 0 auto;
    color: white;
}

.container-1 p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: normal;
}

.container-1 h2 {
    margin-bottom: 0.5rem;
}

.container-2 {
    width: 90%;
    min-width: 90%;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
}

.container-2--images {
    width: 100%;
    height: auto;
    display: flex;
    
}

.image-1 {
    width: 170px;
    height: 144px;
    margin: 0 auto;
    background-image: url('../images/pagos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-2 {
    width: 105px;
    height: 76px;
    margin: 0 auto;
    background-image: url('../images/pago2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-3 {
    width: 90%;
    min-width: 90%;
    max-width: 300px;
    height: 100px;
    margin: 0 auto;
    color: white;
}

.redes-icon {
    width: 100%;
    height: auto;
    display: flex;
}

.red-1 {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-image: url('../images/icons/facebook.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.red-2 {
    width: 30px;
    height: 25px;
    margin-right: 15px;
    background-image: url('../images/icons/twiter.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.red-3 {
    width: 35px;
    height: 25px;
    background-image: url('../images/icons/youtube.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer_final {
    width: 100%;
    min-width: 320px;
    height: 50px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_final p {
    margin: 0;
    font-size: 0.8rem;
}
