h1 {
    font-size: 2.1rem;
    font-weight: bold;
}

h2 {
    font-size: 1.9rem;

}

h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

p {
    font-size: 1.3rem;
    font-weight: 300;
}

.information-container {
    display: flex;
}

.main_who {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.main_who_container1 {
    line-height: 18px;
}

.main_who_container2 {
    line-height: 18px;
}

.main_history {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.main_history--text {
    line-height: 18px;
}

.main_filosofy {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.main_filosofy--text {
    line-height: 18px;
}

.main_proposito {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.main_proposito--text {
    line-height: 18px;
}

.container-1 {
    width: 20%;
    min-width: 20%;
    max-width: 100px;
    height: 164px;
}

.container-2 {
    width: 35%;
    min-width: 25%;
    max-width: 100px;
    height: 250px;
    margin: 0 auto;
    margin-top: 0;
}

.container-2--images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.image-1 {
    width: 144px;
    height: 118px;
    margin: 0 auto;
    margin-left: 0;
}

.image-2 {
    width: 105px;
    height: 76px;
    margin: 0 auto;
    margin-left: 0;
}

.container-3 {
    width: 25%;
    min-width: 25%;
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-left: 0;
}

.main_negocio {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    border-bottom: solid 4px var(--orange);
}

.negocio--img {
    min-width: 120px;
    max-width: 400px;
    height: 500px;
}

.footer_final p {
    margin: 0;
    font-size: 0.9rem;
}